{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_data %}
    <h1 class="text-center">Edit Your Profile</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="row">
                <form method="POST" action="{% url  'profile edit' request.user.id%}">
                    {% csrf_token %}
                    <div class="fs-4 fw-bold">{{ form|crispy }}</div>
                    <input type="submit" value="Confirm" class="btn btn-primary"/>
                </form>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}