{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_data %}
    <div class="row">
        <div class="col-lg-6 ms-5 bg-success shadow-lg rounded mb-5">
            <h1>Edit Tournament {{ object.name }}</h1>
            {% if player.team.tournament.id == object.id %}
                <form method="POST" action="{% url  'edit tournament' object.id%}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input  type="submit" value="Confirm" class="btn btn-primary"/>
                </form>
            {% endif %}
        </div>

        <div class="col-5 ms-5 me-5 bg-gradient shadow-lg rounded mb-5">
            <h1>Remove Teams </h1>
                 {% if player.team.tournament.id == object.id %}
               <table class="table table-sm table-striped table-hover">
                <thead class="border-end border-3 border-dark bg-success">
                    <tr>
                        <th class="fs-5">Name</th>
                        <th class="fs-5">Captain</th>
                        <th></th>
                    </tr>
                </thead>
                    <tbody>
                        {% for team in teams %}
                            <tr>
                                <td class="fw-bold fs-5">{{ team.name}}</td>
                                <td class="fw-bold fs-5">{{ team.captain }}</td>
                                <td> {% if not team == request.user.player.team %}<a class="btn btn-danger border-dark ms-3" href="{% url 'remove team' team.pk %}">Remove team</a> {% else %}
                                    <a class="btn disabled btn-danger border-dark ms-3" href="{% url 'remove team' team.pk  %}">Remove team</a>{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
             {% endif %}
        </div>
    </div>
{% endblock %}