{% extends 'base.html' %}
{% block page_data %}

<div class="d-flex justify-content-end me-5">
    {% if  request.user.is_authenticated %}
         {% if player.is_tournament_creator %}
            <a class="btn btn-primary me-3 border-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add results, manage games" href="{% url 'manage tournament' %}"> Manage Tournament</a>
        {% endif %}

        {% if not player.team.tournament and player.is_captain and not is_full%} <a class="btn btn-danger border-dark" href="{% url 'join tournament confirm' player.team.id %}">Join Tournament</a>
        {% endif%}
        {% if player.team.tournament %}<a class="btn btn-danger border-dark" href="{% url 'leave tournament confirm' player.team.id %}">Leave Tournament</a>
        {% endif %}

    {% endif %}



</div>

<div class="row">
    {#    TOURNAMENT CARD ROW#}
     <div class="col-3 ms-5 mt-4 ">
         <div class="card border border-1 rounded border-dark shadow-lg">
            <div class="card-body fs-4  bg-success">
                <h4 class="card-title fs-3">{{ tournament.name }}</h4>
                <p class="card-text"> Size: {{ tournament.size }}</p>
                <p class="card-text"> Creator: {{ creator.first_name }} {{ creator.last_name }}/{{creator.email}}</p>
                <p class="card-text"> Description: {{ tournament.description|truncatechars:50 }}</p>
            </div>
        </div>
     </div>
    {#    TEAMS COL#}
    <div class="col-3 ms-5 mt-4 mb-5 bg-gradient">
        <h2 class="ms-5 text-center">Teams</h2>
         <table class="table table-striped table-hover mb-3">
                <thead class="border-end border-3 border-dark bg-success">
                    <tr>
                        <th>Name</th>
                        <th>Captain</th>
{#                        <th class="text-center">Image</th>#}
                    </tr>
                </thead>
                    <tbody>
                         {% if teams|length == 0 %}
                           <tr> <td> <p class="fs-5 fw-bold"> Currently no teams have signed-up for this tournament.</p> </td> <td> </td>  </tr>
                        {% endif %}
                        {% for team in teams_to_show %}
                            <tr>
                                <td class="fw-bold fs-5"> <a href="{% url 'team details' team.id %}" class="text-dark"> {{ team.name }}</a> </td>
                                <td class="fw-bold fs-5">{{ team.captain }}</td>
{#                                <td><img src="{{team.emblem }}" class="w-25 rounded mx-auto d-block" alt="No Image"></td>#}
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
             {% if teams|length > 12 %}
             <div class="col-4">
                        <button class="button-sm  btn-info rounded text-end align-end" data-bs-toggle="modal" data-bs-target="#exampleModal">View all teams</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header bg-success">
                                <h5 class="modal-title" id="exampleModalLabel">Team {{ team.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body fs-3">
                                  {% for t in teams %}
                                     <a class="text-dark" href="{% url 'team details' t.id %}"> {{ t.name }} </a> , {{ t.number_of_players }}, captain: {{ t.captain }}<br>
                                  {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
            </div>
            {% endif %}
    </div>

    <div class="col-4 ms-5 mt-4 bg-gradient"> <h2 class="ms-5 text-center">Matches</h2>
        <div class="row m-2">
                {% if matches|length == 0 %}
                    <p class="fs-5 fw-bold"> No upcoming matches in {{ tournament.name }}. </p>
                {% endif %}
        </div>
        {% for match in matches %}
            <div class="row m-2">
                <div class="col-8 fs-4">
                    {{ match.home_team.name }} {{ match.home_team_goals }} : {{ match.away_team_goals }} {{ match.away_team.name }}
                </div>
                <div class="col-4">
                        <button class="button-sm  btn-primary rounded text-start " data-bs-toggle="modal" data-bs-target="#exampleModal{{ match.id }}">View Details</button>
                        <div class="modal fade" id="exampleModal{{ match.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header bg-success">
                                <h5 class="modal-title" id="exampleModalLabel{{ match.id }}">{{ match }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  {{ match.home_team.name }} {{ match.home_team_goals }} : {{ match.away_team_goals }} {{ match.away_team.name }}<br>
                                  {{ match.date }}<br>
                                  {{match.details}}
                              </div>
                            </div>
                          </div>
                        </div>
                </div>

            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}