{% extends 'base.html' %}
{% block page_data %}
<div class="row ms-5 mt-4">
    <div class="col p-3 ms-5 text-dark bg-gradient border-end border-dark border-3">
        <p class="display-6 fw-bold">Active Tournaments</p><br>
                <table class="table table-striped table-hover mb-3">
                    <thead class="border-end border-3 border-dark bg-success">
                        <tr>
                            <th  class="fw-bold fs-4">Tournament</th>
                            <th  class="fw-bold fs-4">Teams</th>
                            <th  class="fw-bold fs-4">Start Date</th>
                            <th  class="fw-bold fs-4">End Date</th>
                        </tr>
                    </thead>
                        <tbody>
                            {% for t in active_tournaments %}
                                <tr>
                                    <td class="fw-bold fs-4">{{ t.name}}</td>
                                    <td class="fw-bold fs-4">{{ t.size}} </td>
                                    <td class="fw-bold fs-4">{{ t.start_date }}</td>
                                    <td class="fw-bold fs-4">{{ t.end_date}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
        <div class="align-end justify-content-end text-end mt-4">
            <a href="" class="text-end justify-content-end text-decoration-none align-end fs-4 mt-5 text-dark"> View all Tournaments....</a>
        </div>
    </div>
    <div class="col p-3 ms-5 text-dark bg-gradient border-end border-dark border-3">
        <p class="display-6 fw-bold">Upcoming Tournaments</p><br>
                <table class="table table-striped table-hover mb-3">
                    <thead class="border-end border-3 border-dark bg-success">
                        <tr>
                            <th  class="fw-bold fs-4">Tournament</th>
                            <th  class="fw-bold fs-4">Teams</th>
                            <th  class="fw-bold fs-4">Start Date</th>
                            <th  class="fw-bold fs-4">End Date</th>
                        </tr>
                    </thead>
                        <tbody>
                            {% for t in upcoming_tournaments %}
                                <tr>
                                    <td class="fw-bold fs-4">{{ t.name}}</td>
                                    <td class="fw-bold fs-4">{{ t.size}} </td>
                                    <td class="fw-bold fs-4">{{ t.start_date }}</td>
                                    <td class="fw-bold fs-4">{{ t.end_date}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
          <div class="align-end justify-content-end text-end mt-4">
            <a href="" class="text-end justify-content-end text-decoration-none align-end fs-4 mt-5 text-dark"> View all Tournaments....</a>
        </div>
    </div>


    <div class="col p-3 ms-5 me-4 text-dark bg-gradient border-end border-warning  border-3"> <p class="display-6 fw-bold">Upcoming Matches </p></div>
</div>

{% endblock %}


